@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.playfair-display-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bodoni-moda-title {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.cinzel-title {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.inter-body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --lightCrema: #f4f1ea;
    --forestGreen: #1B3B2B;
    --darkBrown: #2B221E;
    --carmel: #C28E5F;
    --lightBeige: #EAE5DD;
}

* {
    padding: 0%;
    margin: 0%;
}

h1 {
    background-color: aquamarine;
    color: var(--carmel);
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    background-color: var(--lightBeige);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: fixed;
    background-color: var(--carmel);
    padding: 10px;
    border-radius: 20px;
}

#title {
    display: flex;
    margin-left: 10px;
}

#title-img {
    width: 75px;
    margin-right: 10px;
    background-color: var(--lightCrema);
    border-radius: 20px;
    padding: 5px;
}

#title-text {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 40px;
    max-width: 240px;
    text-align: center;
    line-height: 40px;
    color: var(--lightCrema);
}

#new-product {
    width: 80%;
    padding: 0px 5%;
    height: 100px;
    color: black;
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#add-button{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1B3B2B;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

#add-button:hover{
    background-color: #0b6136;
}

#main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 93%;
    gap: 20px;
}

#menu {
    width: 180px;
    height: 65vh;
    border-radius: 10px;
    background-color: #6d867a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#menu form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: white;
    font-size: 18px;
}

#menu h3{
    color: black;
}

#products-list {
    flex: 1;
    padding: 20px;
    background-color: #e1a0683c;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
}

.product-card {
    margin-bottom: 20px;
    background-color: #1B3B2B;
    padding: 20px;
    border-radius: 20px;
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: wheat;
    max-width: 250px;
    max-height: 230px;
}

.product-img-container {
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.product-img {
    width: 100px;
    border-radius: 10px;
}

.product-description {
    max-width: 170px;
}

.product-tag {
    background-color: #2f2f2f;
    border-radius: 20px;
    padding: 5px 20px;
    max-width: 50px;
}