@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}


.playfair-display-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bodoni-moda-title {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.cinzel-title {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.inter-body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --lightCrema: #f4f1ea;
    --forestGreen: #1B3B2B;
    --darkBrown: #2B221E;
    --carmel: #C28E5F;
    --lightBeige: #EAE5DD;
}

* {
    padding: 0%;
    margin: 0%;
}

h1 {
    background-color: aquamarine;
    color: var(--carmel);
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--lightBeige);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: var(--carmel);
    padding: 10px;
    border-radius: 20px;
}

#title {
    display: flex;
    margin-left: 10px;
}

#title-img {
    width: 75px;
    margin-right: 10px;
    background-color: var(--lightCrema);
    border-radius: 20px;
    padding: 5px;
}

#title-text {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 40px;
    max-width: 240px;
    text-align: center;
    line-height: 40px;
    color: var(--lightCrema);
}


#main {
    display: flex;
    justify-content: space-between;
    width: 93%;
    gap: 20px;
}

#newProduct {
    background-color: #3f6954;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    justify-content: space-between;
}

#newProductForm {
    background-color: var(--forestGreen);
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 25px;
    gap: 10px;
    border-radius: 20px 0px 0px 20px;
}

#newProductImg {
    padding: 0px 20px;
    background-color: #0d3f26;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 0px 20px 20px 0px;
}

#newProductImg input {
    display: none;
}

#newProductImg label {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0d9250;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
}

.productFears {
    background-color: #066143;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 250px;
    text-shadow: 1px 1px 10px black;
}

.productFears input,
.productFears textarea {
    border-radius: 4px;
    border: none;
    padding: 5px 0px;
    text-align: center;
    color: black;
    font-family: 'Cinzel';
}

#tag {
    width: 180px;
    border-radius: 4px;
    border: none;
    padding: 5px 0px;
    text-align: center;
    font-family: 'Cinzel';
}

button {
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0d9250;
    font-weight: 800;
    font-size: 15px;
    margin-top: 15px;
}